MiddlewareProj/xsd/req-libnotify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="notifications">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="notification" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="id" minOccurs="1" maxOccurs="1" />
							<xs:element type="xs:string" name="message" minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
