MiddlewareProj/xsd/req_auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="studentId" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>      
</xs:schema>
